Pandas is a powerful, open-source data analysis and manipulation library for Python. It provides data structures and operations for manipulating numerical tables and time series data, making it the go-to tool for data analysis in Python.

### Why Pandas?
- Intuitive data structures: DataFrame and Series for structured data
- Data alignment: Automatic alignment of data based on labels
- Handling missing data: Built-in methods for dealing with missing values
- Data I/O: Easy reading/writing of various file formats (CSV, Excel, JSON, SQL, etc.)
- Data transformation: Powerful grouping, merging, and reshaping capabilities

Let's start by importing the necessary libraries:

In [ ]:
import pandas as pd
import numpy as np

## 1. Core Data Structures
Pandas has two primary data structures: Series (1D) and DataFrame (2D). Understanding these is fundamental to working with Pandas.

### Series - 1D Labeled Array
A Series is like a column in a spreadsheet or a 1D array with labels (index).

In [ ]:
# Creating Series from different sources
# From list
series_from_list = pd.Series([1, 3, 5, 7, 9])
print("Series from list:")
print(series_from_list)
print("Type:", type(series_from_list))

# From dictionary
series_from_dict = pd.Series({'a': 1, 'b': 2, 'c': 3, 'd': 4})
print("Series from dictionary:")
print(series_from_dict)

# With custom index
series_custom_index = pd.Series([10, 20, 30, 40], index=['w', 'x', 'y', 'z'])
print("\nSeries with custom index:")
print(series_custom_index)

Series from list:
0    1
1    3
2    5
3    7
4    9
dtype: int64
Type: <class 'pandas.core.series.Series'>
Series from dictionary:
a    1
b    2
c    3
d    4
dtype: int64

Series with custom index:
w    10
x    20
y    30
z    40
dtype: int64

Accessing Series Elements

In [ ]:

# Accessing elements
print("Value at index 'b':", series_from_dict['b'])
print("Multiple values:", series_from_dict[['a', 'c']])
print("First three elements:", series_from_dict[:3])
print("Boolean indexing:", series_from_dict[series_from_dict > 2])

Value at index 'b': 2
Multiple values: a    1
c    3
dtype: int64
First three elements: a    1
b    2
c    3
dtype: int64
Boolean indexing: c    3
d    4
dtype: int64

### DataFrame - 2D Labeled Data Structure
A DataFrame is like a spreadsheet or SQL table - it has rows and columns with labels.

In [ ]:
# Creating DataFrames from dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'Age': [25, 30, 35, 28, 32],
    'City': ['New York', 'London', 'Tokyo', 'Paris', 'Sydney'],
    'Salary': [50000, 60000, 70000, 55000, 65000]
}

df = pd.DataFrame(data)
print("DataFrame from dictionary:")
print(df)

DataFrame from dictionary:
      Name  Age      City  Salary
0    Alice   25  New York   50000
1      Bob   30    London   60000
2  Charlie   35     Tokyo   70000
3    Diana   28     Paris   55000
4      Eve   32    Sydney   65000

DataFrame Properties

In [ ]:
# Basic information about DataFrame
print("DataFrame shape:", df.shape)
print("Columns:", df.columns.tolist())
print("Index:", df.index.tolist())
print("\nData types:")
print(df.dtypes)
print("\nBasic info:")
df.info()

DataFrame shape: (5, 4)
Columns: ['Name', 'Age', 'City', 'Salary']
Index: [0, 1, 2, 3, 4]

Data types:
Name      object
Age        int64
City      object
Salary     int64
dtype: object

Basic info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    5 non-null      object
 1   Age     5 non-null      int64
 2   City    5 non-null      object
 3   Salary  5 non-null      int64
dtypes: int64(2), object(2)
memory usage: 292.0+ bytes

### Creating Sample Data
First, let's create some sample data to work with:

In [ ]:

# Create sample data for demonstration
sample_data = {
    'Product': ['Laptop', 'Mouse', 'Keyboard', 'Monitor', 'Speaker'],
    'Category': ['Electronics', 'Electronics', 'Electronics', 'Electronics', 'Electronics'],
    'Price': [999.99, 25.50, 75.00, 299.99, 149.99],
    'Stock': [50, 200, 150, 75, 100],
    'Rating': [4.5, 4.2, 4.0, 4.7, 4.1]
}

products_df = pd.DataFrame(sample_data)
print("Sample products data:")
print(products_df)

Sample products data:
    Product     Category   Price  Stock  Rating
0    Laptop  Electronics  999.99     50     4.5
1     Mouse  Electronics   25.50    200     4.2
2  Keyboard  Electronics   75.00    150     4.0
3   Monitor  Electronics  299.99     75     4.7
4   Speaker  Electronics  149.99    100     4.1

In [ ]:
# Save to CSV (in practice, you'd specify a filename)
print("CSV export example:")
csv_string = products_df.to_csv(index=False)
print(csv_string)

CSV export example:
Product,Category,Price,Stock,Rating
Laptop,Electronics,999.99,50,4.5
Mouse,Electronics,25.5,200,4.2
Keyboard,Electronics,75.0,150,4.0
Monitor,Electronics,299.99,75,4.7
Speaker,Electronics,149.99,100,4.1

# Common I/O operations (examples of syntax)
```
print("Common file operations:")
print("pd.read_csv('filename.csv') - Load CSV files")
print("pd.read_excel('filename.xlsx') - Load Excel files")
print("pd.read_json('filename.json') - Load JSON files")
print("pd.read_sql('SELECT * FROM table', connection) - Load from SQL")
print("\nSaving data:")
print("df.to_csv('filename.csv') - Save to CSV")
print("df.to_excel('filename.xlsx') - Save to Excel")
print("df.to_json('filename.json') - Save to JSON")
```

```
# CSV reading parameters (examples)
print("CSV reading parameters:")
print("pd.read_csv('file.csv', sep=';')  # Different separator")
print("pd.read_csv('file.csv', header=None)  # No header row")
print("pd.read_csv('file.csv', index_col=0)  # Use first column as index")
print("pd.read_csv('file.csv', usecols=['A', 'C'])  # Select specific columns")
print("pd.read_csv('file.csv', nrows=100)  # Read only first 100 rows")
```
**Practice**:
```
df = pd.read_csv('filename.csv')
print("\nLoading data (simulated):")
print("pd.read_csv() would load data from file")
```

```
# Other common formats
print("\nOther I/O operations:")
print("pd.read_excel() - Load Excel files")
print("pd.read_json() - Load JSON files")
print("pd.read_sql() - Load from SQL databases")
print("df.to_excel() - Save to Excel")
print("df.to_json() - Save to JSON")
```

## 5. Data Cleaning and Preparation

In [ ]:
# Create data with missing values and duplicates
dirty_data = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie', 'Bob', 'Eve', 'Alice'],
    'Age': [25, 30, np.nan, 30, 32, 25],
    'Score': [85, 90, 78, 90, np.nan, 85],
    'Grade': ['A', 'A', 'B', 'A', 'B', 'A']
})

print("Dirty data:")
print(dirty_data)

Dirty data:
      Name   Age  Score Grade
0    Alice  25.0   85.0     A
1      Bob  30.0   90.0     A
2  Charlie   NaN   78.0     B
3      Bob  30.0   90.0     A
4      Eve  32.0    NaN     B
5    Alice  25.0   85.0     A

In [ ]:
# Handling missing values
print("\nMissing values:")
print(dirty_data.isnull().sum())

Missing values:
Name     0
Age      1
Score    1
Grade    0
dtype: int64

In [ ]:
# Fill missing values
filled_data = dirty_data
filled_data['Age'].fillna(filled_data['Age'].mean(), inplace=True)
filled_data['Score'].fillna(filled_data['Score'].mean(), inplace=True)
print("\nAfter filling missing values:")
print(filled_data)

After filling missing values:
      Name   Age  Score Grade
0    Alice  25.0   85.0     A
1      Bob  30.0   90.0     A
2  Charlie  28.4   78.0     B
3      Bob  30.0   90.0     A
4      Eve  32.0   85.6     B
5    Alice  25.0   85.0     A

<ipython-input-19-1ae7bcb9fa59>:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  filled_data['Age'].fillna(filled_data['Age'].mean(), inplace=True)
<ipython-input-19-1ae7bcb9fa59>:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  filled_data['Score'].fillna(filled_data['Score'].mean(), inplace=True)

In [ ]:
# # Drop missing values
# dropped_data = dirty_data.dropna()
# print(f"\nAfter dropping missing values ({len(dropped_data)} rows):")
# print(dropped_data)

In [ ]:
# Handling duplicates
print(f"\nDuplicate rows: {dirty_data.duplicated().sum()}")
unique_data = dirty_data.drop_duplicates()
print(f"After removing duplicates ({len(unique_data)} rows):")
print(unique_data)

Duplicate rows: 2
After removing duplicates (4 rows):
      Name   Age  Score Grade
0    Alice  25.0   85.0     A
1      Bob  30.0   90.0     A
2  Charlie  28.4   78.0     B
4      Eve  32.0   85.6     B

## 6. Data Transformation

In [ ]:
# Create sample employee data
employees = pd.DataFrame({
    'Name': ['Alice Smith', 'Bob Johnson', 'Charlie Brown', 'Diana Davis'],
    'Department': ['Engineering', 'Sales', 'Engineering', 'Marketing'],
    'Salary': [75000, 65000, 80000, 70000],
    'Join_Date': ['2020-01-15', '2019-03-20', '2021-06-10', '2020-11-05']
})

print("Original employee data:")
print(employees)

# String operations
employees['First_Name'] = employees['Name'].str.split().str[0]
employees['Last_Name'] = employees['Name'].str.split().str[1]
employees['Name_Length'] = employees['Name'].str.len()

print("\nAfter string operations:")
print(employees[['Name', 'First_Name', 'Last_Name', 'Name_Length']])

# Date operations
employees['Join_Date'] = pd.to_datetime(employees['Join_Date'])
employees['Years_Employed'] = (pd.Timestamp.now() - employees['Join_Date']).dt.days / 365.25

print("\nAfter date operations:")
print(employees[['Name', 'Join_Date', 'Years_Employed']])

# Apply custom functions
def salary_category(salary):
    if salary < 70000:
        return 'Low'
    elif salary < 80000:
        return 'Medium'
    else:
        return 'High'

employees['Salary_Category'] = employees['Salary'].apply(salary_category)
print("\nAfter applying custom function:")
print(employees[['Name', 'Salary', 'Salary_Category']])

# Lambda functions
employees['Salary_Bonus'] = employees['Salary'].apply(lambda x: x * 0.1)
print("\nWith salary bonus:")
print(employees[['Name', 'Salary', 'Salary_Bonus']])

Original employee data:
            Name   Department  Salary   Join_Date
0    Alice Smith  Engineering   75000  2020-01-15
1    Bob Johnson        Sales   65000  2019-03-20
2  Charlie Brown  Engineering   80000  2021-06-10
3    Diana Davis    Marketing   70000  2020-11-05

After string operations:
            Name First_Name Last_Name  Name_Length
0    Alice Smith      Alice     Smith           11
1    Bob Johnson        Bob   Johnson           11
2  Charlie Brown    Charlie     Brown           13
3    Diana Davis      Diana     Davis           11

After date operations:
            Name  Join_Date  Years_Employed
0    Alice Smith 2020-01-15        5.399042
1    Bob Johnson 2019-03-20        6.223135
2  Charlie Brown 2021-06-10        3.997262
3    Diana Davis 2020-11-05        4.591376

After applying custom function:
            Name  Salary Salary_Category
0    Alice Smith   75000          Medium
1    Bob Johnson   65000             Low
2  Charlie Brown   80000            High
3    Diana Davis   70000          Medium

With salary bonus:
            Name  Salary  Salary_Bonus
0    Alice Smith   75000        7500.0
1    Bob Johnson   65000        6500.0
2  Charlie Brown   80000        8000.0
3    Diana Davis   70000        7000.0

In [ ]:
# Create sales data for grouping examples
sales_data_agg = pd.DataFrame({
    'Region': ['North', 'South', 'North', 'East', 'West', 'South', 'East', 'West'],
    'Product': ['A', 'A', 'B', 'A', 'B', 'B', 'A', 'A'],
    'Sales': [100, 150, 200, 120, 180, 90, 110, 160],
    'Profit': [20, 30, 50, 25, 45, 15, 22, 35],
    'Quarter': ['Q1', 'Q1', 'Q2', 'Q1', 'Q2', 'Q2', 'Q1', 'Q2']
})

print("Sales data for aggregation:")
print(sales_data_agg)

# Basic grouping
region_stats = sales_data_agg.groupby('Region').agg({
    'Sales': ['sum', 'mean', 'count'],
    'Profit': ['sum', 'mean']
})
print("\nGrouped by Region:")
print(region_stats)

# Multiple grouping
multi_group = sales_data_agg.groupby(['Region', 'Product']).sum()
print("\nGrouped by Region and Product:")
print(multi_group)

# Custom aggregation functions
def range_calc(series):
    return series.max() - series.min()

custom_agg = sales_data_agg.groupby('Region').agg({
    'Sales': ['mean', 'std', range_calc],
    'Profit': ['sum', 'mean']
})
print("\nCustom aggregation:")
print(custom_agg)

# Pivot tables
pivot_table = sales_data_agg.pivot_table(
    values='Sales',
    index='Region',
    columns='Product',
    aggfunc='sum',
    fill_value=0
)
print("\nPivot table:")
print(pivot_table)

Sales data for aggregation:
  Region Product  Sales  Profit Quarter
0  North       A    100      20      Q1
1  South       A    150      30      Q1
2  North       B    200      50      Q2
3   East       A    120      25      Q1
4   West       B    180      45      Q2
5  South       B     90      15      Q2
6   East       A    110      22      Q1
7   West       A    160      35      Q2

Grouped by Region:
       Sales              Profit
         sum   mean count    sum  mean
Region
East     230  115.0     2     47  23.5
North    300  150.0     2     70  35.0
South    240  120.0     2     45  22.5
West     340  170.0     2     80  40.0

Grouped by Region and Product:
                Sales  Profit Quarter
Region Product
East   A          230      47    Q1Q1
North  A          100      20      Q1
       B          200      50      Q2
South  A          150      30      Q1
       B           90      15      Q2
West   A          160      35      Q2
       B          180      45      Q2

Custom aggregation:
        Sales                       Profit
         mean        std range_calc    sum  mean
Region
East    115.0   7.071068         10     47  23.5
North   150.0  70.710678        100     70  35.0
South   120.0  42.426407         60     45  22.5
West    170.0  14.142136         20     80  40.0

Pivot table:
Product    A    B
Region
East     230    0
North    100  200
South    150   90
West     160  180